.search-bar input {
    background-color: #fff;
    /* خلفية بيضاء */
    color: #000;
    /* كتابة سوداء */
    font-size: 18px;
    /* حجم خط أكبر */
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar button {
    font-size: 18px;
    /* حجم خط أكبر للزر */
    padding: 8px 16px;
    margin-left: 8px;
    border: none;
    background-color: #4CAF50;
    /* أخضر */
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #45a049;
    /* لون داكن عند الـ hover */
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
}

.pagination button:hover {
    background-color: #3b82f6;
    /* Tailwind blue-500 */
    color: white;
}

.pagination button:disabled {
    background-color: #ddd;
    color: #999;
}

button.active {
    background-color: #2563eb;
    /* blue-600 */
    color: white;
}